<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{assetPath 'application.css'}}"/>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Quintype Demo">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
  </head>
  <body>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
    <div class="body-container">
      <div class="layout-content">
	<div id="container">{{{content}}}</div>
      </div>
      <div class="clear"></div>
    </div>
    <script type="text/javascript">
     qtReady.push(function() {
	 {{#js}}{{{.}}};{{/js}}
     });

     if('serviceWorker' in navigator) {
	 navigator.serviceWorker.register('/service-worker.js');
     }
    </script>
    <script type="text/javascript" src="{{assetPath 'application.js'}}"></script>
  </body>
</html>
